{#{% extends 'base.html' %}#}
{#{% block title %}News - AI Art Prints{% endblock %}#}
{#{% block content %}#}
{#         {% for i in object_list %}#}
{#             <div class="news">#}
{#             <img src="{{ i.image.url }}">#}
{#             <h3><a href="{% url 'news:news_detail' i.pk %}">{{ i.title }}</a></h3>#}
{#               <p>{{ i.body }}</p>#}
{#            </div>#}
{#         {% endfor %}#}
{#        {% endblock content %}#}

{% extends 'base.html' %}

{% block title %}Список новост - AI Art Prints{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="my-4">Новости</h2>
    <div class="row">
      {% for article in object_list %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-img-top" style="background-image: url('{{ article.image.url }}');"></div>
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'news:news_detail' article.pk %}">{{ article.title }}</a></h5>
              <p class="card-text">{{ article.body|truncatewords:20 }}</p>
              <a href="{% url 'news:news_detail' article.pk %}" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
