<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prints List</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

   <div class="container">
       <h1 class="display-4 font-weight-bold">All Prints</h1>
       <div class="card-columns">
           {% for print in prints %}
               <div class="card mb-4">
                   <img src="{{ print.image.url }}" class="card-img-top" alt="{{ print.title }}">
                   <div class="card-body">
                       <h5 class="card-title">{{ print.title }}</h5>
                       <p class="card-text">{{ print.description }}</p>
                       <a href="{% url 'prints:print-detail_super_user' print.pk %}" class="btn btn-primary">View Details</a>
                   </div>
                   <div class="card-footer">
                       <small class="text-muted">{{ print.price }}</small>
                   </div>
               </div>
           {% endfor %}
       </div>
   </div>

 <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>