{% extends 'base.html' %}

{% block title %}О проекте - AI Art Prints {% endblock %}

{% block content %}
  <div class="container">
    <h1>О проекте</h1>
    <p>AI Art Prints - это онлайн-магазин, который предлагает уникальные произведения искусства, созданные с помощью искусственного интеллекта.</p>
    <p>Мы сотрудничаем с лучшими художниками и разработчиками, чтобы создаватьдивительные произведения искусства, которые никогда раньше не были возможны.</p>
    <p>Наша миссия - сделать искусство доступным для всех, и мы верим, что искусенный интеллект может помочь нам достичь этой цели.</p>
    <p>Мы гордимся тем, что все наши произведения искусства создаются с помощью современных техногий искусственного интеллекта, и мы уверены, что вы будете в восторге от нашей коллекции.</p>
  </div>
{% endblock %}
