{% extends 'base.html' %}

{% block title %}Contacts - Design by Humans{% endblock %}

{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        <p>You can contact us using the following information:</p>
        <ul class="list-group">
            <li class="list-group-item">Адрес: 123 Main St, Anytown Belarus</li>
            <li class="list-group-item">Организация: Design by OxY</li>
            <li class="list-group-item">Телефон: +37529-123-4567</li>

            <li class="list-group-item">Email: info@designbyoxy.by</li>
        </ul>
        <p>We are always happy to answer your questions and help you make a purchase on our Design by OxY store.</p>
    </div>
{% endblock %}