{% extends 'base.html' %}

{% block title %}Contacts - Design by Humans{% endblock %}

{% block content %}
  <div class="container">
    <h1>Contact Us</h1>
    <p>You can contact us using the following information:</p>
    <ul class="list-group">
      <li class="list-group-item">Address: 123 Main St, Anytown USA</li>
      <li class="list-group-item">Organization: Design by Humans</li>
      <li class="list-group-item">Phone: 1-800-123-4567</li      <li class="list-group-item">Email: info@designbyhumans.com</li>
    </ul>
    <p>We are always happy to answer your questions and help you make a purchase on our Design by Humans store.</p>
  </div>
{% endblock %}